<?xml version="1.0"?>
<RESXManager>
  <settings>
    <setting key="Main.RootPath" value="~/" />
    <setting key="Main.Languages" value="" />
    <setting key="Main.InvariantCulture" value="en-US" />
    <setting key="Main.VisibleTabs" value="Labels,File Management,Regional Settings" />
    <setting key="Main.MultilineTextBoxValueLength" value="200" />
    <setting key="Log.UsedControlIsDisabled" value="false" />
    <setting key="Modify.BackupBeforeSave" value="true" />
    <setting key="SavedVersions.MaxCount" value="10" />
    <setting key="License.ShowLicenseInfo" value="true" />
    <setting key="MicrosoftTranslator.ClientId" value="" />
    <setting key="MicrosoftTranslator.ClientSecret" value="" />
    <setting key="SpellChecker.Enabled" value="true" />
  </settings>
</RESXManager>
