<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net471" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="18.6.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.18.6" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net461" />
</packages>